{% extends "layout.html" %}

{% block title %} {{object.slug|capitalize}} {% endblock %}

{% block body %}
<button class="fab" data-toggle="modal" data-target="#createModal"><i class="fas fa-plus"></i></button>
<ul class="grid" aria-orientation="vertical">
    {% for item in object['items'] %}
    <li class="grid-item">
        <img src="/static/images/placeholder.jpg" alt="">
        <a href="{{object.slug}}/{{item.slug}}">{{item.name}}</a>
    </li>
    {% endfor %}
</ul>
{#        <a href="{{object.slug}}/{{item.slug}}/edit" class="btn btn-sm">#}
{#            <i class="fas fa-edit"></i>#}
{#        </a>#}
        &nbsp;

{#    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">#}
{#        <i class="fas fa-minus"></i>#}
{#    </button>#}

<div class="modal fade" id="createModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a new Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="image">Choose File</label>
                        <input name="image" type="file" class="custom-file-input">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="">Category</label>
                        <input type="text" class="form-control" value="{{ object.slug }}" disabled readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you sure</p>
                <button data-dismiss="modal" class="btn btn-sm">
                    Cancel
                </button>
                <a href="#" class="btn btn-sm btn-danger">
                    Confirm
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}