{% extends "layout.html" %} 

{% block title %} Ford {% endblock %}

{% block body %}
    <ul class="mdc-list" aria-orientation="vertical">
        {% for item in objects %}
            <li class="mdc-list-item">
                <span class="mdc-list-item__graphic">
                    <i class="material-icons">
                        category
                    </i>
                </span>
                <a href="{{item.slug}}">{{item.name}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}